/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.slider-container {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.card-slider {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    white-space: nowrap;
}

.card-item {
    display: inline-block;
    flex: 0 0 auto;
    width: 300px;
    margin: 0 10px;
}

.scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
}

.scroll-btn.left {
    left: 0;
}

.scroll-btn.right {
    right: 0;
}